/*--------------------------------------------------------------------- 
File Name: style.css 
---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- 
import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

.container {
    max-width: 1170px;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border-top: 4px solid rgba(0, 0, 0, 0.5);
}

/**-- heading section --**/

.titlepage {
    margin-top: 2%;
    text-align: center;
    padding-bottom: 30px;
}

.titlepage h2 {
    text-transform: uppercase;
    font-size: 45px;
    color: #353d47;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    display: inline-block;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.text_align_left {
    text-align: left;
}

.text_align_right {
    text-align: right;
}

.text_align_center {
    text-align: center;
}

/* navbar styling  */
.navbar-brand {
    color: white;
    padding: 0px 20px;
}

.navbar-nav li a {
    color: white;
    font-size: 18px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-nav li {
    padding: 0px 20px;
}

.navbar-nav li a:hover,
.navbar-brand:hover {
    color: gainsboro;
    text-decoration: underline;
}

.dropdown-menu {
    background: #353d47;
}

.dropdown-item:hover {
    background: black;
}

.navbar-nav .show>.nav-link {
    color: white;
}

/** banner section **/

.full_bg {
    background: url(../images/robot-humanoid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 150px;
    position: relative;
}

#people_involved .full_bg {
    /* background: url(../images/PXL_20230323_123133006.jpg); */
    background: url(../images/team_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 210vh;
    zoom: 85%;
    padding-bottom: 150px;
    position: relative;
}

.photog {
    position: relative;
    text-align: left;
}


.photog h1 {
    padding-top: 20%;
    font-size: 89px;
    line-height: 90px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-bottom: 70px;
}

/** end banner section **/


/** about section **/

.about {
    background: #fff;
    padding: 80px 50px;
    position: relative;
    margin: 30px 70px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.18);
    border-radius: 60px;
    margin-top: -150px;
}

.container_width {
    max-width: 1380px;
    padding: 0 15px;
    display: block;
    margin: 0 auto;
    clear: both;


}

.about .titlepage {
    padding-bottom: 0;
}

.about .titlepage h2 {
    position: relative;
    padding-bottom: 18px;
}

.about .titlepage h2::before {
    position: absolute;
    content: "";
    bottom: 0px;
    background: rgb(29, 29, 29);
    width: 93px;
    height: 11px;
    left: 0;
    border-radius: 20px;
}

.about .titlepage p {
    font-weight: normal;
    /*     font-size: 20px; */
    font-size: 18px;
    line-height: 30px;
    color: #111111;
    padding: 35px 0px 50px 0px;
}


.about_img figure {
    margin: 0;
}

/** end about section **/


/* research section */
/** cases section **/

.cases {
    background: #fff;
    padding: 0 30px 0 30px;
    padding-top: 70px;


}

.cases .titlepage {
    padding-bottom: 30px;
}

.cases .titlepage p {
    padding-top: 5px;
}

.latest {
    margin-top: 30px;
    background: #fff;
    padding: 5px 5px 5px 5px;
    box-shadow: 3px 0 62px rgba(13, 3, 3, 0.20);
    margin-bottom: 70px;
}


.latest figure {
    margin: 0;
}

.latest .read_more {
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 99999;
    max-width: 174px;
    height: 51px;
    line-height: 51px;
    font-weight: normal;
    top: 22%;
    right: 0;
    left: 0;
    bottom: 0;
}

.research_body h3 {
    color: #151515;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding-top: 52px;
}

.research_body p {
    padding: 5px 0 60px 0;
    color: #0f100d;
    line-height: 28px;
    font-weight: normal;
}

.research_body {
    position: relative;
}

.research_body::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -40px;
    width: 80px;
    height: 81px;
    text-align: center;
    margin: 0 auto;
}


/** end cases section **/
/*=============================
   join us(Services) Styles
=============================*/


.services {
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.services .fa {
    color: #c2c2c2;
    font-size: 30px;
    float: right;
}

.services h3 {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: -10px;
    font-weight: 600;
    padding-bottom: 10px;
}

.services p {
    color: #848484;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
}

.services .box-1,
.services .box-2,
.services .box-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.services p a {
    position: absolute;
    bottom: -46px;
    right: -38px;
}

.services .box {
    box-shadow: 0 0 25px rgba(0, 0, 0, .15) !important;
    padding: 60px 20px;
    margin-bottom: 50px;
}

.services .skills-container {
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.services .skill {
    display: inline;
    color: #000000;
    border-radius: 2px;
    background-color: rgba(60, 62, 63, 0.05);
    border: 2px solid rgba(0, 0, 0, 1);
    padding: 5px 8px;
    font-size: 15px;

}

.services .apply {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.services button {
    width: max-content;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    z-index: 2;
    text-transform: uppercase;
}

/* end join us section */


/* Publication CSS */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline a {
    color: #424242;
}

ul.timeline a:hover {
    color: #000000;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.titlepage h3 {
    font-size: 39px;
    font-weight: 600;

}

ul.timeline.h4 {
    font-size: 28px;
}

ul.timeline p {
    font-size: 18px;
}

/* robot page css */
.robots-section .text_body {
    margin-top: 5%;
}

.robots-section .text_body p {
    font-size: large;
}

.robots-section .tech_specs p {
    font-size: 25px;
}

.robots-section .tech_specs .titlepage h4 {
    font-weight: 600;
    text-transform: capitalize;
}

/* teams css */
#people_involved img {
    width: 100%;
    height: auto;
}

#people_involved .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



#people_involved .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#people_involved .column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



.subteam-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.subteam-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.subteam-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.team {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team .team-img {
    overflow: hidden;
}

.team .team-img img {
    width: 100%;
    height: auto;
    transition: all .3s;
}

.team:hover .team-img img {
    transform: scale(1.2);
}

.team .team-content {
    padding: 10px;
    height: 200px;
}

.team .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.team .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.team .team-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    color: black;
    background: white;
    transition: all .3s;
}

.team .team-social a:hover {
    color: white;
    background: #000000;
}

/*==============================
      //footer Styles //
==============================*/
.footer_section {
    margin-top: 5%;
}

.footer_section h1 {
    font-size: 30px;
    font-weight: bold;
}

.page-footer {
    border-top: 4px solid #343333;
}

.page-footer .box-1 {
    /* border-right: 4px solid #343333; */
    padding-top: 25px;
    padding-bottom: 80px;
}

.page-footer .box-2,
.page-footer .box-3,
.page-footer .box-4 {
    padding-top: 25px;
}

.footer-copyright {
    position: relative;
}

.footer-copyright p {
    font-size: 25px;
    font-weight: 500;
    color: black;
    position: relative;
    text-transform: uppercase;
    padding: 40px 0;
    margin-bottom: 0;
}

.footer-copyright p a {
    color: #585454;
}

.footer-copyright a:hover {
    color: #000000;
}

.page-footer img {
    margin-bottom: 30px;
}

.page-footer h5 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem !important;
}

.page-footer p {
    font-size: 16px;
    font-weight: 400;
    padding-right: 40px;
    padding-top: 20px;
}

.page-footer ul>li a {
    color: #949191;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.page-footer ul>li a:hover {
    color: #000000;
}